body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333333;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #003366;
}

a {
    color: #66b2ff;
    text-decoration: none;
}

a:hover {
    color: #003366;
    text-decoration: underline;
}
